<h2>Products</h2>

<div *ngFor="let product of products; index as productId">
  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{product.name}}
    </a>
  </h3>
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <button (click)="share()">
    Share
  </button>

  <app-product-alerts 
    [product] = "product"
    (notify) = "onNotify()">
  </app-product-alerts>
</div>
<br>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
            <input type="text" pInputText placeholder="Username">         
        </div>
    </div>
</div>
<br>
<p-carousel [value]="cars">
    <ng-template let-car pTemplate="item">
        Content to display
    </ng-template>
</p-carousel>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->